In [5]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv(r"C:\Users\Varun Vaidya\Desktop\datasets\descriptive_stat.csv")

In [11]:
df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [12]:
df.describe()

          patient   bp_before    bp_after
count  120.000000  120.000000  120.000000
mean    60.500000  156.450000  151.358333
std     34.785054   11.389845   14.177622
min      1.000000  138.000000  125.000000
25%     30.750000  147.000000  140.750000
50%     60.500000  154.500000  149.500000
75%     90.250000  164.000000  161.000000
max    120.000000  185.000000  185.000000

In [13]:
df.shape

(120, 5)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   patient    120 non-null    int64
 1   sex        120 non-null    object
 2   agegrp     120 non-null    object
 3   bp_before  120 non-null    int64
 4   bp_after   120 non-null    int64
dtypes: int64(3), object(2)
memory usage: 4.8+ KB

In [15]:
df.isnull().sum()

patient      0
sex          0
agegrp       0
bp_before    0
bp_after     0
dtype: int64

In [16]:
df.sex.describe()

count      120
unique       2
top       Male
freq        60
Name: sex, dtype: object

In [17]:
df.sex.value_counts()

Male      60
Female    60
Name: sex, dtype: int64

In [18]:
df.bp_before.kurtosis()

-0.4385909267217518

In [19]:
df.bp_after.kurtosis()

-0.505149016096138

In [20]:
df.bp_before.skew()

0.5542441047738688

In [21]:
df.bp_after.skew()

0.39336542806003727

In [22]:
df.mean()

C:\Users\Varun Vaidya\AppData\Local\Temp\ipykernel_20568\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

patient       60.500000
bp_before    156.450000
bp_after     151.358333
dtype: float64

In [23]:
df.mean(axis=1)

C:\Users\Varun Vaidya\AppData\Local\Temp\ipykernel_20568\3676274908.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis=1)

0       99.000000
1      111.666667
2      108.000000
3       99.666667
4       97.333333
          ...
115    140.000000
116    143.333333
117    152.333333
118    139.666667
119    156.000000
Length: 120, dtype: float64

In [24]:
df.median()

C:\Users\Varun Vaidya\AppData\Local\Temp\ipykernel_20568\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

patient       60.5
bp_before    154.5
bp_after     149.5
dtype: float64

In [25]:
df.mode()

     patient     sex agegrp  bp_before  bp_after
0          1  Female  30-45      142.0     135.0
1          2    Male  46-59      162.0     146.0
2          3     NaN    60+        NaN     147.0
3          4     NaN    NaN        NaN     159.0
4          5     NaN    NaN        NaN       NaN
..       ...     ...    ...        ...       ...
115      116     NaN    NaN        NaN       NaN
116      117     NaN    NaN        NaN       NaN
117      118     NaN    NaN        NaN       NaN
118      119     NaN    NaN        NaN       NaN
119      120     NaN    NaN        NaN       NaN

[120 rows x 5 columns]

In [26]:
df.agegrp.value_counts()

30-45    40
46-59    40
60+      40
Name: agegrp, dtype: int64

In [27]:
# meaSURE of desp

#range 
max(df.bp_before)-min(df.bp_before)

47

In [28]:
max(df.bp_after)-min(df.bp_after)

60

In [29]:
# quantile


a = [df.bp_before.quantile(0),df.bp_before.quantile(0.25),df.bp_before.quantile(0.5),df.bp_before.quantile(0.75),df.bp_before.quantile(1)]

In [30]:
a

[138.0, 147.0, 154.5, 164.0, 185.0]

In [31]:
b = [df.bp_after.quantile(0),df.bp_after.quantile(0.25),df.bp_after.quantile(0.5),df.bp_after.quantile(0.75),df.bp_after.quantile(1)]

In [32]:
b

[125.0, 140.75, 149.5, 161.0, 185.0]

In [33]:
# variance std


df.std()

C:\Users\Varun Vaidya\AppData\Local\Temp\ipykernel_20568\3042760789.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

patient      34.785054
bp_before    11.389845
bp_after     14.177622
dtype: float64

In [34]:
df.var()

C:\Users\Varun Vaidya\AppData\Local\Temp\ipykernel_20568\1568254755.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()

patient      1210.000000
bp_before     129.728571
bp_after      201.004972
dtype: float64

In [36]:
import researchpy as rp

In [37]:
rp.summary_cont(df.bp_before)

    Variable      N    Mean       SD      SE  95% Conf.  Interval
0  bp_before  120.0  156.45  11.3898  1.0397   154.3912  158.5088

In [38]:
rp.summary_cont(df.bp_after)

   Variable      N      Mean       SD      SE  95% Conf.  Interval
0  bp_after  120.0  151.3583  14.1776  1.2942   148.7956   153.921

In [39]:
# for catogarial data
rp.summary_cat(df.sex)

  Variable Outcome  Count  Percent
0      sex    Male     60     50.0
1           Female     60     50.0

In [40]:
rp.summary_cat(df.agegrp)

  Variable Outcome  Count  Percent
0   agegrp   30-45     40    33.33
1            46-59     40    33.33
2              60+     40    33.33